.navigation {
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 5px 60px;
    overflow: hidden;
    background: rgb(250, 250, 250);
    transition: all 0.2s ease-in;}


.hide-nav{
    opacity: 0;
    
}




